# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.SmRecipeModifier.iml
# Datasource local storage ignored files
/../../../../../../../:\Documents\Projects\SmRecipeModifier\.idea\.idea.SmRecipeModifier\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
